<html>
    <head>

        <title>Intelligent Tourist Guide System</title>

        
		<link rel="stylesheet" href="/static/style1.css" type="text/css">

    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <div id="logo">
                    <h2 align="center" style="color: crimson">Intelligent Tourist Guide System</h2>
                </div>
            </div>

            <div id="menu">
                <ul>
                    <li class="current_page_item"><a href="#">Home</a></li>
                    <li><a href="/userlogin">User Login</a></li>
					<li><a href="/userregister">User Registration</a></li>
					<li><a href="/adminlogin">Admin Login</a></li>
                </ul>
            </div>
	
        </div>


    </body>
</html>
